.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header{
  background: rgba(214,0,50,1);
background: -moz-linear-gradient(left, rgba(214,0,50,1) 0%, rgba(179,0,42,1) 44%, rgba(133,0,31,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(214,0,50,1)), color-stop(44%, rgba(179,0,42,1)), color-stop(100%, rgba(133,0,31,1)));
background: -webkit-linear-gradient(left, rgba(214,0,50,1) 0%, rgba(179,0,42,1) 44%, rgba(133,0,31,1) 100%);
background: -o-linear-gradient(left, rgba(214,0,50,1) 0%, rgba(179,0,42,1) 44%, rgba(133,0,31,1) 100%);
background: -ms-linear-gradient(left, rgba(214,0,50,1) 0%, rgba(179,0,42,1) 44%, rgba(133,0,31,1) 100%);
background: linear-gradient(to right, rgba(214,0,50,1) 0%, rgba(179,0,42,1) 44%, rgba(133,0,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60032', endColorstr='#85001f', GradientType=1 );
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.deadSpace{
  width: 100%;
  height: 15vh;
}
.footer {
  position:fixed;
   left:0px;
   bottom:0px;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}