*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:#FDEDA4;
}
.botones{
  width: 180px;
  height: 50px;
  margin-left: 20%;
  font-family: Arial;
 text-align: center;
  color: #ffffff;
  font-size: 1.3rem;
  padding: 9px;
  text-decoration: none;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  -webkit-box-shadow: 4px 4px 11px #666666;
  -moz-box-shadow: 4px 4px 11px #666666;
  box-shadow: 4px 4px 11px #666666;
  text-shadow: 1px 1px 3px #666666;
  
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc3f94), to(#fc0574));
  background: -moz-linear-gradient(top, #fc3f94, #fc0574);
  background-color:rgba(249,220,180,1);
  background: -moz-linear-gradient(left, rgba(249,220,180,1) 0%, rgba(249,220,180,1) 37%, rgba(249,220,180,1) 61%, rgba(255,236,214,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249,220,180,1)), color-stop(37%, rgba(249,220,180,1)), color-stop(61%, rgba(249,220,180,1)), color-stop(100%, rgba(255,236,214,1)));
  background: -webkit-linear-gradient(left, rgba(249,220,180,1) 0%, rgba(249,220,180,1) 37%, rgba(249,220,180,1) 61%, rgba(255,236,214,1) 100%);
  background: -o-linear-gradient(left, rgba(249,220,180,1) 0%, rgba(249,220,180,1) 37%, rgba(249,220,180,1) 61%, rgba(255,236,214,1) 100%);
  background: -ms-linear-gradient(left, rgba(249,220,180,1) 0%, rgba(249,220,180,1) 37%, rgba(249,220,180,1) 61%, rgba(255,236,214,1) 100%);
  background: linear-gradient(to right, rgba(249,220,180,1) 0%, rgba(249,220,180,1) 37%, rgba(249,220,180,1) 61%, rgba(255,236,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9dcb4', endColorstr='#ffecd6', GradientType=1 );;
}
.flexbox{
  display:flex;
    justify-content: space-between;
    width: 100%;
    max-width: 780px;
    height: 100vh;
    overflow: hidden;
    margin:0 auto;
    padding:15px;
}
.flexbox .board{
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background: rgba(249,225,248,1);
background: -moz-linear-gradient(left, rgba(249,225,248,1) 0%, rgba(246,162,218,1) 42%, rgba(246,131,204,1) 63%, rgba(248,119,205,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249,225,248,1)), color-stop(42%, rgba(246,162,218,1)), color-stop(63%, rgba(246,131,204,1)), color-stop(100%, rgba(248,119,205,1)));
background: -webkit-linear-gradient(left, rgba(249,225,248,1) 0%, rgba(246,162,218,1) 42%, rgba(246,131,204,1) 63%, rgba(248,119,205,1) 100%);
background: -o-linear-gradient(left, rgba(249,225,248,1) 0%, rgba(246,162,218,1) 42%, rgba(246,131,204,1) 63%, rgba(248,119,205,1) 100%);
background: -ms-linear-gradient(left, rgba(249,225,248,1) 0%, rgba(246,162,218,1) 42%, rgba(246,131,204,1) 63%, rgba(248,119,205,1) 100%);
background: linear-gradient(to right, rgba(249,225,248,1) 0%, rgba(246,162,218,1) 42%, rgba(246,131,204,1) 63%, rgba(248,119,205,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e1f8', endColorstr='#f877cd', GradientType=1 );
  padding:10px;
}
.flexbox .board .card{
  height: 10vh;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  padding:15px 25px;
  cursor:pointer;
  margin-bottom: 15px;
}
.botonAzul{
  display: inline;
  position:relative;
  float:right;
 width: 15px;
 height: 7px;
 border: none;
 background-color: #3d67f3;
  color: white;
  font-size: 10px;
  justify-content: center;
  align-items:center;
  border-radius: 50%;
  padding-bottom: 15px;
}
.botonRojo{
  display: inline;
  position:relative;
  float:right;
 width: 15px;
 height: 7px;
 border: none;
 background-color: red;
  color: white;
  font-size: 10px;
  justify-content: center;
  align-items:center;
  border-radius: 50%;
  padding-bottom: 15px;
}
.botonVerde{
  display: inline;
  position:relative;
  float:right;
 width: 15px;
 height: 7px;
 border: none;
 background-color: green;
  color: white;
  font-size: 10px;
  justify-content: center;
  align-items:center;
  border-radius: 50%;
  padding-bottom: 15px;
}

